.dashContainer{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    background: whitesmoke;
    padding: 5px 10px;
    height: 100vh;
}

.dashCardContainer{
    display: flex;
    align-content: center;
    flex-direction: column;
    gap: 5px;
    width : 300px;
}
.dashCardHeading{
    display: flex;
    justify-content: space-between;
}

.dashList{
    width: 100%;
}